{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Redeem</legend>
            <div class="form-group">
                <h4>Your current balance : {{ current_user.received }}</h4>

            </div>

            <div class="form-group">
                    {{ form.redeem_points.label(class="form-control-label") }}
                    {% if form.redeem_points.errors %}
                        {{ form.redeem_points(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.redeem_points.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.redeem_points(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>
    </div>

{% endblock content %}
